<mat-toolbar id="toolbar">
    <!-- <span>Leebert Castro</span> -->
    <div class="margin-auto">
      <!-- <span class="example-spacer"></span> -->
      <!-- <button mat-icon-button class="border-none" matTooltip="Home">
        <mat-icon>home</mat-icon>
      </button> -->
      <button id="bio" (click)="goTo('bio')" mat-icon-button class="border-none" matTooltip="About">
        <mat-icon>person</mat-icon>
      </button>
      <button id="projects" (click)="goTo('projects')" mat-icon-button class="border-none" matTooltip="Projects">
        <mat-icon>desktop_windows</mat-icon>
      </button>
      <button id="skills" (click)="goTo('skills')" mat-icon-button class="border-none" matTooltip="Skills Overview">
        <mat-icon>bar_chart</mat-icon>
      </button>
      <button id="connect" (click)="goTo('git')" mat-icon-button class="border-none" matTooltip="Get In Touch">
        <mat-icon>touch_app</mat-icon>
      </button>
    </div>
  </mat-toolbar>
  