.body {
    width: 100%;
    background-color:rgb(9, 63, 134);
}

.layer {
  /* background-color: white; */
  border: 2px solid #ffce44;
  margin-bottom: 30px;
  height: 45px;
  width: 100%;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .full-width {
    width: 100%;
  }