<div class="body">
    <div class="container-border">
        <mat-tab-group>
            <mat-tab label="Basic Information">
                <div class="card">
                    <div class="row p-t-0">
                        <div class="col-sm-12 align-middle">
                            <mat-icon>person</mat-icon>
                            <span class="p-l-10">Jhun Leebert S. Castro</span>
                        </div>
                    </div>
                    <div class="row p-t-5">
                        <div class="col-sm-12 align-middle">
                            <mat-icon>cake</mat-icon>
                            <span class="p-l-10"> February 07, 1997</span>
                        </div>
                    </div>
                    <div class="row p-t-5">
                        <div class="col-sm-12 align-middle">
                            <mat-icon>favorite</mat-icon>
                            <span class="p-l-10"> Single</span>
                        </div>
                    </div>
                    <div class="row p-t-5">
                        <div class="col-sm-12 align-middle">
                            <mat-icon>assistant_photo</mat-icon>
                            <span class="p-l-10"> Filipino</span>
                        </div>
                    </div>
                    <div class="row p-t-5">
                        <div class="col-sm-12 align-middle">
                            <mat-icon>home</mat-icon>
                            <span class="p-l-10">Caloocan City, Philippines</span>
                        </div>
                    </div>
                </div> 
            </mat-tab>

            <mat-tab label="Educational Background"> 
                <div class="card">
                    <div class="row p-t-0">
                        <div class="col-sm-12 align-middle">
                            <mat-icon>school</mat-icon>
                            <span class="p-l-10">STI College - Fairview</span>
                        </div>
                    </div>
                    <div class="row p-t-0">
                        <div class="col-sm-12 align-middle">
                            <span class="p-l-35">Fairview, Quezon City</span>
                        </div>
                    </div>
                    <div class="row p-t-0">
                        <div class="col-sm-12 align-middle">
                            <span class="p-l-35">Bachelor of Science in Computer Science</span>
                        </div>
                    </div>
                    <div class="row p-t-0">
                        <div class="col-sm-12 align-middle">
                            <span class="p-l-35">Batch 2017</span>
                        </div>
                    </div>
                    <hr>
                    <div class="row p-t-0">
                        <div class="col-sm-12 align-middle">
                            <mat-icon>school</mat-icon>
                            <span class="p-l-10">Our Lady of Lourdes College</span>
                        </div>
                    </div>
                    <div class="row p-t-0">
                        <div class="col-sm-12 align-middle">
                            <span class="p-l-35">Gen. T De Leon, Valenzuela City</span>
                        </div>
                    </div>
                    <div class="row p-t-0">
                        <div class="col-sm-12 align-middle">
                            <span class="p-l-35">Highschool</span>
                        </div>
                    </div>
                    <div class="row p-t-0">
                        <div class="col-sm-12 align-middle">
                            <span class="p-l-35">Batch 2012</span>
                        </div>
                    </div>
                    <hr>
                    <div class="row p-t-0">
                        <div class="col-sm-12 align-middle">
                            <mat-icon>school</mat-icon>
                            <span class="p-l-10">Silvestre Lazaro Elementary School</span>
                        </div>
                    </div>
                    <div class="row p-t-0">
                        <div class="col-sm-12 align-middle">
                            <span class="p-l-35">Ugong, Valenzuela City</span>
                        </div>
                    </div>
                    <div class="row p-t-0">
                        <div class="col-sm-12 align-middle">
                            <span class="p-l-35">Elementary</span>
                        </div>
                    </div>
                    <div class="row p-t-0">
                        <div class="col-sm-12 align-middle">
                            <span class="p-l-35">Batch 2007</span>
                        </div>
                    </div>
                </div> 
            </mat-tab>

            <mat-tab label="Training">
                <div class="card">
                    <div class="row p-t-0">
                        <div class="col-sm-12 align-middle">
                            <mat-icon>emoji_events</mat-icon>
                            <span class="p-l-10">On-The-Job Training (OJT)</span>
                        </div>
                    </div>
                    <div class="row p-t-0">
                        <div class="col-sm-12 align-middle">
                            <span class="p-l-35">Software Development</span>
                        </div>
                    </div>
                    <div class="row p-t-0">
                        <div class="col-sm-12 align-middle">
                            <span class="p-l-35">Department of Agrarian Reform</span>
                        </div>
                    </div>
                    <div class="row p-t-0">
                        <div class="col-sm-12 align-middle">
                            <span class="p-l-35">April 2016 - May 2016</span>
                        </div>
                    </div>
                </div> 
            </mat-tab>

            <mat-tab label="Work Experience">
                <div class="card">
                    <div class="row p-t-0">
                        <div class="col-sm-12 align-middle">
                            <mat-icon>work</mat-icon>
                            <span class="p-l-10">Valueline Systems & Solutions Corporation</span>
                        </div>
                    </div>
                    <div class="row p-t-0">
                        <div class="col-sm-12 align-middle">
                            <span class="p-l-35">Diliman, Quezon City</span>
                        </div>
                    </div>
                    <div class="row p-t-0">
                        <div class="col-sm-12 align-middle">
                            <span class="p-l-35">2017 - 2019</span>
                        </div>
                    </div>
                    <hr>
                    <div class="row p-t-0">
                        <div class="col-sm-12 align-middle">
                            <mat-icon>work</mat-icon>
                            <span class="p-l-10">StreakLab Solutions Incorporated</span>
                        </div>
                    </div>
                    <div class="row p-t-0">
                        <div class="col-sm-12 align-middle">
                            <span class="p-l-35">Diliman, Quezon City</span>
                        </div>
                    </div>
                    <div class="row p-t-0">
                        <div class="col-sm-12 align-middle">
                            <span class="p-l-35">2019 - 2020</span>
                        </div>
                    </div>
                </div> 
            </mat-tab>

            <mat-tab label="Hobbies & Interest">
                <div class="card">
                    <div class="row p-t-0">
                        <div class="col-sm-12 align-middle">
                            <mat-icon>favorite</mat-icon>
                            <span class="p-l-10">Home Gardening</span>
                        </div>
                    </div>
                    <div class="row p-t-0">
                        <div class="col-sm-12 align-middle">
                            <mat-icon>favorite</mat-icon>
                            <span class="p-l-10">Cooking</span>
                        </div>
                    </div>
                    <div class="row p-t-0">
                        <div class="col-sm-12 align-middle">
                            <mat-icon>favorite</mat-icon>
                            <span class="p-l-10">Arts & Crafts</span>
                        </div>
                    </div>
                </div> 
            </mat-tab>

        </mat-tab-group>
    </div>
</div>
