<div class="body">
    <!-- <div class="container"> -->
        <div class="card">
            <div class="layer" data-aos="fade-up">
                <h2 class="text-center p-t-5">PROJECTS</h2>
            </div>
            <div class="row">
                <div class="col-sm-6 align-middle">
                  <!-- <mat-form-field>
                    <mat-label>Type</mat-label>
                    <mat-select name="filter">
                      <mat-option *ngFor="let filter of filterType" [value]="filter">{{filter}}</mat-option>
                    </mat-select>
                  </mat-form-field> -->
                    <!-- <mat-icon>business</mat-icon>  -->
                    <!-- <h3 class="m-t-5 m-l-5">Corporate</h3> -->
                </div>
                <div class="col-sm-6 align-middle">
                  <!-- <mat-icon>person</mat-icon>  -->
                  <!-- <h3 class="m-t-5 m-l-5">Personal</h3> -->
                </div>
            </div>
            <div class="row" data-aos="fade-up">
             <div class="col-sm-6">
              <h3 class="text-center m-t-5 m-l-5">Corporate</h3>
                <mat-accordion>
                    <mat-expansion-panel
                                         >
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          <mat-icon class="c-slate">supervisor_account</mat-icon>
                        </mat-panel-title>
                        <mat-panel-description class="text-center">
                          Earnest
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <p>Created using AngularJS and PHP,
                        E-commerce Application designed for Community and organization, It 
                        has loan management and able to sell items.
                      </p>

                      <div class="grid">
                        <!-- <img src="assets/EARN000.png"> -->
                        <img src="assets/EARN456.png">
                        <img src="assets/EARN123.png">
                      </div>
                    </mat-expansion-panel>

                    <mat-expansion-panel (opened)="panelOpenState = true"
                                         >
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          <mat-icon class="c-slate">update</mat-icon>
                        </mat-panel-title>
                        <mat-panel-description class="text-center">
                          Enterprise Resource Planning
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <p>Created using AngularJS and Golang,
                        It has HRIS, Timekeeping management and Payroll also have 
                        a Self service portal for employee where they can file leave and
                        notify by the management. 
                      </p>

                    <div class="grid">
                      <img src="assets/HRIS001.png">
                      <img src="assets/HRIS002.png">
                    </div>
                    </mat-expansion-panel>

                    <mat-expansion-panel (opened)="panelOpenState = true"
                                         >
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          <mat-icon class="c-slate">perm_contact_calendar</mat-icon>
                        </mat-panel-title>
                        <mat-panel-description class="text-center">
                          Payroll System
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <p>Created using C# Windows Form Application,
                        Includes Employee Management, Payroll Management and Generation of Reports.
                      </p>

                    <div class="grid">
                      <img src="assets/bswm-payroll4.png">
                      <img src="assets/bswm-payroll1.png">
                      <img src="assets/bswm-payroll3.jpg">
                      <img src="assets/bswm-payroll2.png">
                    </div>
                    </mat-expansion-panel>

                    <mat-expansion-panel (opened)="panelOpenState = true"
                                         >
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          <mat-icon class="c-slate">commute</mat-icon>
                        </mat-panel-title>
                        <mat-panel-description class="text-center">
                          Automation of Travel Order Filing
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <p>Developed using Google Form and Google AppScript
                        The user can file Travel Order online and will receive the generated PDF file to the provided
                        email address.
                      </p>

                    <div class="grid">
                      <img src="assets/bswm-to1.png">
                      <img src="assets/bswm-to2.png">
                    </div>
                    </mat-expansion-panel>

                    <mat-expansion-panel (opened)="panelOpenState = true"
                                         >
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          <mat-icon class="c-slate">find_replace</mat-icon>
                        </mat-panel-title>
                        <mat-panel-description class="text-center">
                          Automated Workflow for Research and Development Information System (AW4RDIS)
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <p>Created using the BPM Tool Processmaker, It aims to automate and streamline the Research and Development (R&D)
                        processes of DOST-ASTI.
                      </p>

                    <div class="grid">
                      <!--<img src="assets/bswm-to1.png">
                      <img src="assets/bswm-to2.png">-->
                    </div>
                    </mat-expansion-panel>

                    <mat-expansion-panel (opened)="panelOpenState = true"
                                         >
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          <mat-icon class="c-slate">local_library</mat-icon>
                        </mat-panel-title>
                        <mat-panel-description class="text-center">
                          Automation of Intellectual Property (IP) Database
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <p>Created using the BPM Tool Processmaker, An Information System that Manage IP related filings.
                      </p>

                    <div class="grid">
                      <!--<img src="assets/bswm-to1.png">
                      <img src="assets/bswm-to2.png">-->
                    </div>
                    </mat-expansion-panel>

                  </mat-accordion>
             </div>
             <div class="col-sm-6">
              <h3 class="text-center m-t-5 m-l-5">Personal</h3>
              <mat-accordion>
                  <mat-expansion-panel (opened)="panelOpenState = true"
                                       (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        <mat-icon class="c-slate">emoji_objects</mat-icon>
                      </mat-panel-title>
                      <mat-panel-description class="text-center">
                        Physics Learning Application
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                    <p>Created using C# - Windows Form Application
                      <br>It Includes Lesson, Activity and Converter of a particular topic, also
                      have jumbled words quizbee.
                    </p>
                    <div class="margin-auto">
                      <!-- default size:560 : 315 -->
                      <iframe width="560" height="315" src="https://www.youtube.com/embed/T47W7UwtUJs" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <!-- 460 315 -->
                  </mat-expansion-panel>
                  <mat-expansion-panel (opened)="panelOpenState = true"
                                       (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        <mat-icon class="c-slate">casino</mat-icon>
                      </mat-panel-title>
                      <mat-panel-description class="text-center">
                        Snake & Ladder Game
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                    <p>Created using C# - Windows Form Application
                      <br>Game Mechanics:<br>
                      1.Snake - player will go down.<br>
                      2.Ladder - player will go up.<br>
                      3.Star - player will have another turn.<br>
                      4.Heart - both players will go to the same block.<br>
                      5.Number - player will go to the assigned number.<br>
                      6.Switch - players will switch position.
                    </p>
                    <div style="margin:auto">
                      <iframe width="560" height="315" src="https://www.youtube.com/embed/YPNA34OVw-Q" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                  </mat-expansion-panel>
                </mat-accordion>
           </div>
         </div>
        </div>
    <!-- </div> -->
 </div>
 