.body {
  background-color: white;
  /*background-image: url("/assets/bg.jpg");
  background-position: center; 
  background-size: cover;*/
  
}

.parallax {
    /* The image used */
    background-image: url("/assets/code-bg.jpg");
  
    /* Set a specific height */
    min-height: 500px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
 

.layer {
    background-color: #274B7F; 
    color: white;
    /*border: 2px solid #ffce44;*/
    margin-bottom: 30px;
    height: 45px;
    width: 100%;
}

.c-slate {
    color: #274B7F; 
}

.proj-label {
    color: black;
}

.container {
    background-color: transparent;
}

.card {
    background-color: transparent;
}

.grid img {
    width: 280px;
    height: 160px;
    cursor: pointer;
    opacity: 1;
    /* display: block;
    width: 100%;
    height: auto; */
}

.img:hover {
    border: solid 1px red;
  }