<div class="body">
   <!-- <div class="container"> -->
       <div class="card">
            <div class="layer" data-aos="fade-up">
                <h2 class="text-center p-t-5">SKILLS OVERVIEW</h2>
            </div>
           <div class="row" data-aos="fade-zoom-in"
                data-aos-easing="ease-in-back"
                data-aos-delay="300"
                data-aos-offset="0">

                <div class="col-sm-3 margin-auto bgm-white" style="border-radius: 15px;"
                data-aos="flip-left">
                    <div id="profileImage"
                        class="align-middle"
                        style="background-image: url('assets/go.png')">
                    </div>
                    <div class="text-center">
                        <h3 class="p-t-15">Golang</h3>
                        <hr>
                        <p style="font-size: smaller;">Beego</p>
                        <mat-icon class="c-gold hand-cursor" style="margin-bottom: 20px;" matTooltip="Novice">star</mat-icon>
                        <mat-icon class="c-gold hand-cursor" matTooltip="Advanced Beginner">star</mat-icon>
                        <mat-icon class="c-gold hand-cursor" matTooltip="Competent">star</mat-icon>
                        <mat-icon class="c-gold hand-cursor" matTooltip="Proficient">star</mat-icon>
                        <mat-icon class="c-gold hand-cursor" matTooltip="Expert">star_border</mat-icon>
                    </div>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-3 margin-auto bgm-white" style="border-radius: 15px;"
                data-aos="flip-left">
                    <div id="profileImage"
                        class="align-middle"
                        style="background-image: url('assets/php.png')">
                    </div>
                    <div class="text-center">
                        <h3 class="p-t-15">PHP</h3>
                        <hr>
                        <p style="font-size: smaller;">Phalcon</p>
                        <mat-icon class="c-gold hand-cursor" style="margin-bottom: 20px;" matTooltip="Novice">star</mat-icon>
                        <mat-icon class="c-gold hand-cursor" matTooltip="Advanced Beginner">star</mat-icon>
                        <mat-icon class="c-gold hand-cursor" matTooltip="Competent">star</mat-icon>
                        <mat-icon class="c-gold hand-cursor" matTooltip="Proficient">star_border</mat-icon>
                        <mat-icon class="c-gold hand-cursor" matTooltip="Expert">star_border</mat-icon>
                    </div>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-3 margin-auto bgm-white" style="border-radius: 15px;"
                data-aos="flip-left">
                    <div id="profileImage"
                        class="align-middle"
                        style="background-image: url('assets/nodejs.jpg')">
                    </div>
                    <div class="text-center">
                        <h3 class="p-t-15">Node JS</h3>
                        <hr>
                        <!-- <p style="font-size: smaller;">Details</p> -->
                        <mat-icon class="c-gold hand-cursor" style="margin-bottom: 20px;" matTooltip="Novice">star</mat-icon>
                        <mat-icon class="c-gold hand-cursor" matTooltip="Advanced Beginner">star</mat-icon>
                        <mat-icon class="c-gold hand-cursor" matTooltip="Competent">star</mat-icon>
                        <mat-icon class="c-gold hand-cursor" matTooltip="Proficient">star_border</mat-icon>
                        <mat-icon class="c-gold hand-cursor" matTooltip="Expert">star_border</mat-icon>
                    </div>
                </div>
            
            </div>
            <div class="row" style="height:20px;"></div>
            <div class="row" data-aos="fade-zoom-in"
                    data-aos-easing="ease-in-back"
                    data-aos-delay="300"
                    data-aos-offset="0">

                <div class="col-sm-3 margin-auto bgm-white" style="border-radius: 15px;"
                data-aos="flip-left">
                <div id="profileImage"
                    class="align-middle"
                    style="background-image: url('assets/typescript.png')">
                </div>
                    <div class="text-center">
                        <h3 class="p-t-15">Typescript</h3>
                        <hr>
                        <!-- <p style="font-size: smaller;">Details</p> -->
                        <mat-icon class="c-gold hand-cursor" style="margin-bottom: 20px;" matTooltip="Novice">star</mat-icon>
                        <mat-icon class="c-gold hand-cursor" matTooltip="Advanced Beginner">star</mat-icon>
                        <mat-icon class="c-gold hand-cursor" matTooltip="Competent">star</mat-icon>
                        <mat-icon class="c-gold hand-cursor" matTooltip="Proficient">star_border</mat-icon>
                        <mat-icon class="c-gold hand-cursor" matTooltip="Expert">star_border</mat-icon>
                    </div>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-3 margin-auto bgm-white" style="border-radius: 15px;"
                data-aos="flip-left">
                <div id="profileImage"
                    class="align-middle"
                    style="background-image: url('assets/angularjs.png')">
                </div>
                    <div class="text-center">
                        <h3 class="p-t-15">Angular JS</h3>
                        <hr>
                        <!-- <p style="font-size: smaller;">Details</p> -->
                        <mat-icon class="c-gold hand-cursor" style="margin-bottom: 20px;" matTooltip="Novice">star</mat-icon>
                        <mat-icon class="c-gold hand-cursor" matTooltip="Advanced Beginner">star</mat-icon>
                        <mat-icon class="c-gold hand-cursor" matTooltip="Competent">star</mat-icon>
                        <mat-icon class="c-gold hand-cursor" matTooltip="Proficient">star_border</mat-icon>
                        <mat-icon class="c-gold hand-cursor" matTooltip="Expert">star_border</mat-icon>
                    </div>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-3 margin-auto bgm-white" style="border-radius: 15px;"
                data-aos="flip-left">
                <div id="profileImage"
                    class="align-middle"
                    style="background-image: url('assets/html.png')">
                </div>
                    <div class="text-center">
                        <h3 class="p-t-15">HTML</h3>
                        <hr>
                        <!-- <p style="font-size: smaller;">Details</p> -->
                        <mat-icon class="c-gold hand-cursor" style="margin-bottom: 20px;" matTooltip="Novice">star</mat-icon>
                        <mat-icon class="c-gold hand-cursor" matTooltip="Advanced Beginner">star</mat-icon>
                        <mat-icon class="c-gold hand-cursor" matTooltip="Competent">star</mat-icon>
                        <mat-icon class="c-gold hand-cursor" matTooltip="Proficient">star_border</mat-icon>
                        <mat-icon class="c-gold hand-cursor" matTooltip="Expert">star_border</mat-icon>
                    </div>
                </div>
            
            </div>
            <div class="row" style="height:20px;"></div>
            <div class="row" data-aos="fade-zoom-in"
                data-aos-easing="ease-in-back"
                data-aos-delay="300"
                data-aos-offset="0">

                <div class="col-sm-3 margin-auto bgm-white" style="border-radius: 15px;"
                data-aos="flip-left">
                <div id="profileImage"
                    class="align-middle"
                    style="background-image: url('assets/css.png')">
                </div>
                    <div class="text-center">
                        <h3 class="p-t-15">CSS</h3>
                        <hr>
                        <p style="font-size: smaller;">Bootstrap</p>
                        <p style="font-size: smaller;">Material Design</p>
                        <mat-icon class="c-gold hand-cursor" style="margin-bottom: 20px;" matTooltip="Novice">star</mat-icon>
                        <mat-icon class="c-gold hand-cursor" matTooltip="Advanced Beginner">star</mat-icon>
                        <mat-icon class="c-gold hand-cursor" matTooltip="Competent">star</mat-icon>
                        <mat-icon class="c-gold hand-cursor" matTooltip="Proficient">star_border</mat-icon>
                        <mat-icon class="c-gold hand-cursor" matTooltip="Expert">star_border</mat-icon>
                    </div>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-3 margin-auto bgm-white" style="border-radius: 15px;"
                data-aos="flip-left">
                <div id="profileImage"
                    class="align-middle"
                    style="background-image: url('assets/c.png')">
                </div>
                    <div class="text-center">
                        <h3 class="p-t-15">C#</h3>
                        <hr>
                        <p style="font-size: smaller;">Windows Form Application</p>
                        <mat-icon class="c-gold hand-cursor" style="margin-bottom: 20px;" matTooltip="Novice">star</mat-icon>
                        <mat-icon class="c-gold hand-cursor" matTooltip="Advanced Beginner">star</mat-icon>
                        <mat-icon class="c-gold hand-cursor" matTooltip="Competent">star</mat-icon>
                        <mat-icon class="c-gold hand-cursor" matTooltip="Proficient">star_border</mat-icon>
                        <mat-icon class="c-gold hand-cursor" matTooltip="Expert">star_border</mat-icon>
                    </div>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-3 margin-auto bgm-white" style="border-radius: 15px;"
                data-aos="flip-left">
                    <div id="profileImage"
                        class="align-middle"
                        style="background-image: url('assets/java.png')">
                    </div>
                    <div class="text-center">
                        <h3 class="p-t-15">Java</h3>
                        <hr>
                        <!-- <p style="font-size: smaller;">Details</p> -->
                        <mat-icon class="c-gold hand-cursor" style="margin-bottom: 20px;" matTooltip="Novice">star</mat-icon>
                        <mat-icon class="c-gold hand-cursor" matTooltip="Advanced Beginner">star</mat-icon>
                        <mat-icon class="c-gold hand-cursor" matTooltip="Competent">star</mat-icon>
                        <mat-icon class="c-gold hand-cursor" matTooltip="Proficient">star_border</mat-icon>
                        <mat-icon class="c-gold hand-cursor" matTooltip="Expert">star_border</mat-icon>
                    </div>
                </div>
            
            </div>
       </div>
   <!-- </div> -->
</div>
