.body {
  /* height: 100%; */
  padding-top: 50px;
  padding-bottom: 30px;
  background-color: white;
  /*background-image: url("../assets/bg.jpg");
  background-position: center; 
  background-size: cover;*/
}

/* .card {
  border: 0px;
  margin: 30px;
} */

.text-center {
  text-align: center;
}

#profileImage {
  height:250px;
  width:245px; 
  margin: 5% auto;
  /*background-image: url(https://mail.google.com/mail/u/1?ui=2&ik=c604277762&attid=0.1&permmsgid=msg-a:r690726950128975380&th=175f274714ccc99d&view=fimg&sz=s0-l75-ft&attbid=ANGjdJ_U3Suwx5bvaPifXAXFJeinj8Ni3247fQkfpYS9ANWpzgMkD0hkXyrZeVv2dYHmSCnOCl1MfzJWZSKYUN_gia6xRbDEGn-V0RCm8ZRbIyY37gxz7AAsNvHKNyo&disp=emb&realattid=ii_khtst0kr0);*/
   background: url("../assets/formal-photo.png"); 
  background-repeat: no-repeat;    
  border-radius: 50%;
  /* border: 2px solid #fff; */
  background-position: center; 
  background-size: cover;
}



  